div.greetings-container {
  margin: auto;
  width: 60%;
  text-align: center;
  border-radius: 16px;

  margin-top: 100px;
  padding: 100px 0px;

  background-color: #2f2e2e;
}

h1 {
  color: #fad000;
}

div.redes-sociais {
  margin: 16px;
}

div.container-logo-social {
  margin: 8px;
}

img.logo-social {
  margin: 0px 4px;
  width: 40px;
  border-radius: 50%;
}

p {
  color: white;
  font-size: 16px;
}
